[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
aiosmtplib = "*"
jinja2 = "*"
psycopg2-binary = "*"
rest-framework-simplejwt = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
