<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>*|MC:SUBJECT|*</title>
</head>
<body>
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" valign="top" id="templateHeader" data-template-container>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                    <tr>
                        <img align="center" alt="" src="https://sun9-45.userapi.com/impg/Ead8vQpNOdxU6o25SwI_xBwUUJrsMSB-14X0Sg/Q-qQdFc0GgI.jpg?size=849x323&quality=96&sign=11973f977d590a62c9c6c4892f0383f2&type=album" width="370.23999999999998" style="max-width:463px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">

                        <td valign="top" class="headerContainer">
                            <img align="center" alt="" src="your_image_source" width="370" style="max-width: 463px;">
                        </td>
                    </tr>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                    <tr>
                        <td valign="top" class="mcnTextBlockInner" style="padding-top: 9px;">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width: 100%; min-width: 100%;" width="100%" class="mcnTextContentContainer">
                                <tr>
                                    <td valign="top" class="mcnTextContent" style="padding: 18px;">
                                        <p>Hello {{ user.username }},<br><br>You probably forgot your account password, so I generated a new password for you, if you don't like it, you can change it.<br><br>Your new password:</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                    <tr>
                        <td valign="top" class="mcnTextBlockInner" style="padding-top: 9px;">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width: 100%; min-width: 100%;" width="100%" class="mcnTextContentContainer">
                                <tr>
                                    <td valign="top" class="mcnTextContent" style="padding: 18px; text-align: left;">
                                        <h1>{{ password }}</h1>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
